#!<%= install_dir %>/embedded/bin/ruby
# Fix the PATH so that we can find git and friends.
ENV['PATH'] = '<%= install_dir %>/bin:<%= install_dir %>/embedded/bin:' + ENV['PATH']

# Hard-code the path to this package's Gemfile
ENV['BUNDLE_GEMFILE'] = '<%= install_dir %>/embedded/service/gitlab-runner/Gemfile'

# Require 'bundler/setup' just to be sure. The bin/setup script does not have
# it at the moment.
require 'bundler/setup'

<%= script %>
